@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/samarpan.jpg")">
                    <span class="card-title"><b>Samarpan Dutta</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida. I am right now in my second semester and expecting to gradute this summer.
                            After this I am planning to pursue PhD in statistics.
                            Additionally, I love to play table tennis.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have created the layout for the entire website and designed home page, about us and model page.</p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="https://www.linkedin.com/in/duttasamarpan/">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/yogitha.jpeg")">
                    <span class="card-title"><b>Yogitha Ramaraju</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            Currently a student at USF's <b>Business Analytics and Information Systems</b> graduate program.
                            I have 18 months of experience as Application developer Associate at Accenture.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have implemented the data exploration page along with the interactive chart.js visualizations. </p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="https://www.linkedin.com/in/yogitharamaraju">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/vivek.jpeg")">
                    <span class="card-title"><b>Vivek Kotha</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida.I worked as a Data analyst for 2 years at Tata Consultancy Services.
                            Additionally, I love to play badminton and Volley ball.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have designed the search park page and fetch apis. </p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="https://www.linkedin.com/in/vivek-kotha">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>