@{
    ViewData["Title"] = "Home";
}

@section carousel
{    
    <script src="~/js/carouselslider.js"></script>
}
<img src="@Url.Content("~/img/yellowstone.jpg")" class="banner">
<div class="carousel carousel-slider center">
    <div class="carousel-item black white-text">
        <h2>Do you know?</h2>
        <p class="white-text"><i>There are more than 10,000 hydrothermal features in Yellowstone. The four types of thermal features are geysers, hot springs, mud pots, and fumaroles.</i></p>
    </div>
    <div class="carousel-item black white-text">
        <h2>Wow!</h2>
        <p class="white-text"><i>Yellowstone is home to more than 500 active geysers (more than half the world’s geysers).</i></p>
    </div>
</div>