@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/dev1.jpeg")">
                    <span class="card-title"><b>Sushma Penumala</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida. I am right now in my second semester and expecting to gradute this summer.
                            I have 18 months of experience as Application developer.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have created the layout for the entire website and designed home page, about us and model page.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/dev2.jpeg")">
                    <span class="card-title"><b>Sri Taruni Dakuri</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            Currently a student at USF's <b>Business Analytics and Information Systems</b> graduate program.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have implemented the data exploration page along with the interactive chart.js visualizations. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4">
            <div class="card membercard">
                <div class="card-image">
                    <img class="teammate" src="@Url.Content("~/img/dev3.jpeg")">
                    <span class="card-title"><b>Shivanitha Narala</b></span>
                </div>
                <div class="card-content">
                    <div class="section">
                        <p>
                            I am a Graduate Student pursuing <b>MS</b> in <b>Business Analytics and Information Systems</b> from
                            University of South Florida.I worked as a Data analyst for 2 years. Additionally, I love to play badminton.
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Contributions</h5>
                        <p>I have designed the search park page and fetch apis. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>