@{ ViewData["Title"] = "Home"; }

@section carousel
{
    <script src="~/js/carouselslider.js"></script>
}
<img src="@Url.Content("~/img/park.jpg")" class="banner">
<div class="carousel carousel-slider center">
    <div class="carousel-item black white-text">
        <h2>Do you know?</h2>
        <p class="white-text">
            <i>
                Soaring cliffs and precipitous ledges mark the Belt Creek Canyon as it slices out of the Little Belt Mountains and winds toward the town of Belt.
                Remains of mines, a railroad, and historic cabins line Belt Creek as it makes its way through the beautiful canyon carved in limestone.
                This rugged area has seen its share of prospectors searching for precious metals, miners, muleskinners, smeltermen, and railroaders building bridges. The Barker mines and the Montana Central Railroad are just a part of the rich history of Sluice Boxes State Park. A primitive, unmaintained trail provides access to fishing, challenging floats, and wildlife viewing. Steep cliffs, rugged terrain, and cold, swift water may pose risks to visitors. Please use caution while hiking and floating in the park. A Backcountry Campsite Permit is required to camp in this park.
                Contact FWP Headquarters in Great Falls to obtain a permit.
            </i>
        </p>
    </div>
</div>